unit-02/exam/German/gym.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:tns="http://com.gym" targetNamespace="http://com.gym">

	<xs:element name="reservation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idClient">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[BP]C-[0-9]{3}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="activity">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="5" />
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dayOfWeek">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Lun" />
							<xs:enumeration value="Mar" />
							<xs:enumeration value="Mie" />
							<xs:enumeration value="Jue" />
							<xs:enumeration value="Vie" />
							<xs:enumeration value="Sab" />
							<xs:enumeration value="Dom" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="time" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="confirmation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idReservation" type="xs:int" />
				<xs:element name="idRoom">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="1" />
							<xs:maxExclusive value="21" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="instructor" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="discount" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:totalDigits value="3" />
							<xs:fractionDigits value="2" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="SearchCriteria">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idClient">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[BP]C-[0-9]{3}" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="activity">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="5" />
							<xs:maxLength value="255" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dayOfWeek">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Lun" />
							<xs:enumeration value="Mar" />
							<xs:enumeration value="Mie" />
							<xs:enumeration value="Jue" />
							<xs:enumeration value="Vie" />
							<xs:enumeration value="Sab" />
							<xs:enumeration value="Dom" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="time" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="confirmations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:confirmation" maxOccurs="unbounded" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="cancelReservation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idReservation" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="cancelConfirmation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="updateReservationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idReservation" type="xs:int" />
				<xs:element name="activity" type="xs:string" minOccurs="0" />
				<xs:element name="dayOfWeek" type="xs:string" minOccurs="0" />
				<xs:element name="time" type="xs:string" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="updateReservationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
