unit-02/exam/gymReservation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://com.gym" targetNamespace="http://com.gym">
	<wsdl:types>
		<xs:schema targetNamespace="http://com.gym" elementFormDefault="qualified">
			<xs:include schemaLocation="gym.xsd"/>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="CreateReservationMessageRequest">
		<wsdl:part name="parameter" element="tns:reservation"/>
	</wsdl:message>
	<wsdl:message name="CreateReservationMessageResponse">
		<wsdl:part name="parameter" element="tns:confirmation"/>
	</wsdl:message>

	<wsdl:message name="GetReservationMessageRequest">
		<wsdl:part name="parameter" element="tns:SearchCriteria"/>
	</wsdl:message>
	<wsdl:message name="GetReservationMessageResponse">
		<wsdl:part name="parameter" element="tns:reservation"/>
	</wsdl:message>

	<wsdl:message name="UpdateReservationMessageRequest">
		<wsdl:part name="parameter" element="tns:updateReservationRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateReservationMessageResponse">
		<wsdl:part name="parameter" element="tns:updateReservationResponse"/>
	</wsdl:message>
	
	<wsdl:portType name="ReservationPortType">
		<wsdl:operation name="CreateReservationOperation">
			<wsdl:input message="tns:CreateReservationMessageRequest"/>
			<wsdl:output message="tns:CreateReservationMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetReservationOperation">
			<wsdl:input message="tns:GetReservationMessageRequest"/>
			<wsdl:output message="tns:GetReservationMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateReservationOperation">
			<wsdl:input message="tns:UpdateReservationMessageRequest"/>
			<wsdl:output message="tns:UpdateReservationMessageResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="ReservationBinding" type="tns:ReservationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateReservationOperation">
			<soap:operation soapAction="createReservation"/>
			<wsdl:input><soap:body use="literal"/></wsdl:input>
			<wsdl:output><soap:body use="literal"/></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetReservationOperation">
			<soap:operation soapAction="getReservation"/>
			<wsdl:input><soap:body use="literal"/></wsdl:input>
			<wsdl:output><soap:body use="literal"/></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateReservationOperation">
			<soap:operation soapAction="updateReservation"/>
			<wsdl:input><soap:body use="literal"/></wsdl:input>
			<wsdl:output><soap:body use="literal"/></wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="GymReservationService">
		<wsdl:port name="ReservationPort" binding="tns:ReservationBinding">
			<soap:address location="http://localhost:8080/ws/gym-reservation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>